a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    background-image: url(background.jpg);
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}

.icon {
    width: 2rem;
    display: flex;
}

.navbar {
    font-weight: bold;
    margin-left: 35%;
}

.nav {
    margin-left: 5%;
}


/*index.html*/

.hero__container {
    margin-top: 5%;
    margin-left: 15%;
    width: 80rem;
    height: 40rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}

.hero__text {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.hero__subtext {
    text-align: center;
    font-size: 17;
}


/*doneren.html*/

.hero__text__soon {
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 50;
}


/*spawnlist.html*/

.spawnlists {
    display: flex;
}

.hero__containerspawn {
    margin-top: 5%;
    margin-left: 10%;
    width: 25rem;
    height: 35rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}

.hero__textspawn {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.hero__containerspawn2 {
    margin-top: 5%;
    margin-left: 7%;
    width: 25rem;
    height: 35rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}

.hero__containerspawn3 {
    margin-top: 5%;
    margin-left: 7%;
    width: 25rem;
    height: 35rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}


/*commands.html*/

.commandslist {
    display: flex;
}

.hero__container__command {
    margin-top: 5%;
    margin-left: 10%;
    width: 25rem;
    height: 35rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}

.hero__container__command2 {
    margin-top: 5%;
    margin-left: 7%;
    width: 25rem;
    height: 35rem;
    border-radius: 30px;
    border: solid 2px #ffffff;
    background-color: rgba(151, 151, 151, 0.452);
}

.hero__text__command {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}